<h3>Post a Comment</h3>
<%= form_for [@article, @comment] do |f| %>
  <p>
    <%= f.label :author_name, "Your Name" %><br>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>