<h1>
  <%= @article.title %>
</h1>
<p>Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p>
  <%= @article.body %>
</p>
<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url %><br>
  <% end %>
</p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: "articles/comment", collection: @article.comments %>
<%= render partial: "comments/form" %>

<%= link_to "<< Back to Articles List", articles_path %><br>
<% if logged_in? %>
  <%= link_to "edit", edit_article_path(@article) %><br>
  <%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<% end %>